#!/usr/bin/env sh

alias ls="/bin/ls -GHhp"
alias ll="ls -la"

# Use GNU `ls` if available
if command -v gls >/dev/null; then
  alias ls="gls -Hh --color --group-directories-first -I 'Icon'$'\r' -I .DS_Store -I .localized"
fi

# Sort by size
lss() { 
  du -L --si -d 1 "$@" 2>/dev/null | sort -hr 
}

# Remove directories and sub-directories
rmm() {
  for folder in "$@"; do
    find . -type d -name "$folder" -prune -exec rm -rf {} \;
  done
}

# Directories
wd="$WORKING_DIR"
wdu="$WORKING_DIR/$USER"
tmp="$WORKING_DIR/.temp"
cloud="$HOME/Library/Mobile Documents/com~apple~CloudDocs"
icloud="$cloud/com~apple~CloudDocs"
downloads="$icloud/Downloads"
obsidian="$cloud/iCloud~md~obsidian/Documents"

alias cdc="cd '$icloud'"
alias cdd="cd '$downloads'"
alias cdw="cd '$wd'"
alias cdwu="cd '$wdu'"
alias tmp="cd '$tmp'"

mkdircd() { 
  dir="$(mkdir -pv "$@")"
  cd "$dir" || return 1
}

mkdircode() {
  dir="$(mkdir -pv "$@")"
  code "$dir" || return 1
}

# Open in editor
alias home="$EDITOR $HOME"
alias aliases="$EDITOR $HOME/.aliases"
alias gitconfig="$EDITOR $HOME/.gitconfig"
alias zshrc="$EDITOR $HOME/.zshrc"
alias sshrc="$EDITOR $HOME/.ssh"

# Open with
alias te="open -a TextEdit"

# Shortcuts
alias hide="chflags hidden"
alias unhide="chflags nohidden"
alias rehistory="history >/dev/null"

# CLIs
alias ghrv="gh repo view --web"
alias omzr="omz reload"
alias pn="pnpm"
alias pnx="pnpx"
alias yarn="npx yarn@1"

# Git 
# Short aliases
for git_alias in $(git aliases | sed 's/\ .*//'); do
  if ! command -v "g$git_alias" >/dev/null; then
    alias g"""${git_alias}"="git $git_alias"
  fi
done

# VSCode workspaces
for workspace in $(find ~/.vscode -name "*.code-workspace" -not -path "*/extensions/*" 2>/dev/null); do
  alias code-"$(basename "$workspace" .code-workspace)"="code $workspace"
done

# Network
alias ip="echo $(curl -s ipinfo.io/ip)"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"
