#!/usr/bin/env zsh

# Paths
hash -d cloud="$HOME/Library/Mobile Documents/com~apple~CloudDocs"
hash -d vault="$HOME/.vault"

# Directories
alias cdw="cd '$WORKING_DIR'"

# Helpers
alias hide="chflags hidden"
alias unhide="chflags nohidden"
alias rehistory="history >/dev/null"

# CLIs
alias ghrv="gh repo view --web"
alias omzr="omz reload"
alias pn="pnpm"
alias pnx="pnpx"

# Editors
alias home="$EDITOR '$HOME'"
alias te="open -a TextEdit"
