{
  "rules": {
    "type-enum": [
      2,
      "always",
      [
        "brew",
        "chore",
        "docs",
        "git",
        "node",
        "python",
        "ruby",
        "shell",
        "tool",
        "vscode"
      ]
    ],
    "scope-enum": [
      2,
      "always",
      [
        "npm",
        "zsh"
      ]
    ],
    "type-case": [
      2,
      "always",
      "lower-case"
    ],
    "type-empty": [
      2,
      "never"
    ],
    "scope-case": [
      2,
      "always",
      "lower-case"
    ],
    "subject-empty": [
      2,
      "never"
    ]
  }
}
