{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "plugins": ["prettier"],
  "extends": ["eslint:recommended", "prettier"],
  "settings": {
    "import/resolver": {
      "node": {
        "moduleDirectory": ["node_modules", "src/"]
      }
    }
  },
  "globals": {
    "module": true,
    "process": true,
    "Promise": true
  },
  "rules": {
    "max-lines": 1,
    "no-console": 1,
    "object-shorthand": [1, "always"],
    "quotes": [1, "single", { "avoidEscape": true }],
    "sort-keys": 0,
    "sort-vars": [1, { "ignoreCase": false }],
    "prettier/prettier": [
      1,
      {
        "bracketSpacing": true,
        "printWidth": 120,
        "semi": false,
        "singleQuote": true,
        "trailingComma": "es5"
      }
    ]
  }
}
