# Local gitignore for dotfiles repository

# files
/.*.backup
/.*_history
/.*hst
/.gist
/.git-stats
/.gitprofile
/.netrc
/.viminfo
/.yarnrc
/.zcompdump**
/.zprofile

# folders
/*/
!/.github/
!/.vscode/
/.vscode/extensions/
/.vscode/argv.json
!/.yarn/
!/.zsh/
