# Local gitignore for dotfiles repository.

# Files
/.*.backup
/.*_history
/.*hst
/.*padl
/.gist
/.git-stats
/.gitprofile
/.netrc
/.profile
/.viminfo
/.yarnrc
/.zcompdump**
/Applications
/Downloads
/Movies
/Music

# Folders
/*/
!/.github/
!/.macos/
!/.vscode/
/.vscode/cli/
/.vscode/extensions/
/.vscode/workspaces/
/.vscode/argv.json
!/.yarn/
/.yarn/berry/
/.yarn/node_modules/
!/.zsh/
/.zsh/plugins/zsh-*/
