[alias]
  a = add
  br = branch
  ci = commit
  cm = git commit -m
  co = !sh -c 'git checkout $1 && git branch --set-upstream-to=$1 $1 && git fetch' -
  d = !git --no-pager diff
  dt  = difftool
  fo = fetch origin
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  pf = push -f --set-upstream $1 $2
  pom = push origin master
  serve = !git daemon --reuseaddr --verbose  --base-path=. --export-all ./.git
  st = status -sb
  stat = !git --no-pager diff --stat
  sweep = !git branch --merged master | grep -v 'master$' | xargs git branch -d && git remote prune origin
  unstage = reset HEAD --

[branch "master"]
  mergeoptions = --no-edit

[color]
  branch = auto
  diff = auto
  interactive = auto
  status = auto
	ui = true

[color "branch"]
  current = green
  remote = yellow

[core]
  pager = less -FRSX

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[help]
  autocorrect = 1
