# Wiki: https://github.com/koalaman/shellcheck/wiki

disable=SC1090 # non-constant sources
disable=SC1091 # not referenced
disable=SC2015 # inline condition warning
disable=SC2034 # unused vars
disable=SC2038 # disable -print0/-0 warn
disable=SC2044 # allow loops over find output
disable=SC2068 # array expansion
disable=SC2086 # word splitting
disable=SC2115 # disable "${var:?}" warn
disable=SC2128 # array expansion
disable=SC2139 # expansion in definition
disable=SC2145 # allow $@
disable=SC2153 # mispellings
disable=SC2154 # undefined vars
disable=SC2250 # allow variables without braces
disable=SC2312 # allow masking return values
