"*":
  "autocomplete-paths":
    relative: false
  core:
    automaticallyUpdate: true
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "exception-reporting"
    ]
    ignoredNames: [
      "._*"
      ".DS_Store"
      ".hg"
      ".sass-cache"
      ".svn"
      "desktop.ini"
      "Thumbs.db"
    ]
    openEmptyEditorOnStart: false
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-dark"
    ]
    titleBar: "hidden"
    useTreeSitterParsers: true
    warnOnLargeFileLimit: 20
  editor:
    fontSize: 22
    showIndentGuide: true
  emmet:
    extensionsPath: "~/.emmet"
  "file-types":
    ".alias??": "source.shell"
    ".eslintrc": "source.json"
    ".prettierrc": "source.json"
    ".remarkrc": "source.json"
    ".shellcheckrc": "source.shell"
    ".sublime-*": "source.json"
  "find-and-replace":
    autocompleteSearches: true
    useRipgrep: true
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "git-diff":
    showIconsInEditorGutter: true
  github:
    remoteFetchProtocol: "ssh"
  "linter-eslint":
    disabling:
      disableWhenNoEslintConfig: false
    lintHtmlFiles: true
  "linter-rubocop":
    command: "/Users/gabrielecanepa/.rbenv/shims/rubocop"
  "linter-shellcheck":
    enableNotice: true
  "linter-stylelint":
    disableWhenNoConfig: false
    useStandard: true
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 64
  lorem:
    defaults:
      unitSize: "Short"
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    useEditorConfig: true
    useEslint: true
    useStylelint: true
  "pretty-json":
    prettifyOnSaveJSON: true
  "theme-switcher":
    syntaxThemeOne: "atom-material-syntax-dark"
    syntaxThemeTwo: "atom-material-syntax-light"
    uiThemeOne: "one-dark-ui"
    uiThemeTwo: "one-light-ui"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
