"*":
  "atom-ternjs":
    useSnippets: true
    useSnippetsAndFunction: true
  "autocomplete-paths":
    relative: false
  core:
    automaticallyUpdate: true
    closeDeletedFileTabs: true
    destroyEmptyPanes: false
    disabledPackages: [
      "exception-reporting"
    ]
    ignoredNames: [
      "._*"
      ".DS_Store"
      ".hg"
      ".sass-cache"
      ".svn"
      "desktop.ini"
      "Thumbs.db"
    ]
    openEmptyEditorOnStart: false
    projectHome: "~/code"
    telemetryConsent: "no"
    themes: [
      "one-dark-ui"
      "atom-material-syntax-dark"
    ]
    titleBar: "hidden"
    useTreeSitterParsers: true
    warnOnLargeFileLimit: 20
  editor:
    fontSize: 22
    showIndentGuide: true
  emmet:
    extensionsPath: "~/.emmet"
  "file-types":
    ".aliases": "source.shell"
    ".prettier*": "source.js"
    ".remark*": "source.js"
  "fuzzy-finder":
    scoringSystem: "fast"
    useRipGrep: true
  "linter-markdown":
    presetStyleGuideWithoutConfig: true
  "linter-ui-default":
    alwaysTakeMinimumSpace: true
    panelHeight: 64
    showPanel: true
  lorem:
    defaults:
      unitSize: "Short"
  "one-dark-ui":
    stickyHeaders: true
  "package-sync":
    createOnChange: true
    forceOverwrite: true
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
      showInStatusBar: true
    useEslint: true
  "pretty-json":
    prettifyOnSaveJSON: true
  "theme-switcher":
    syntaxThemeOne: "atom-material-syntax-dark"
    syntaxThemeTwo: "atom-material-syntax-light"
    uiThemeOne: "one-dark-ui"
    uiThemeTwo: "one-light-ui"
  "tree-view":
    hideIgnoredNames: true
  welcome:
    showOnStartup: false
