'*':
  'ctrl-shift-left': 'pane:move-item-left'
  'ctrl-shift-right': 'pane:move-item-right'
'body':
  'cmd-alt-p': 'project-manager:edit-projects'
  'cmd-alt-t': 'theme-switcher:switch'
  'cmd-alt-g': 'github:toggle-git-tab'
'.tree-view':
  'r': 'tree-view:rename'
  's': 'tree-view:show-in-file-manager'
'atom-text-editor':
  'cmd-alt-p': 'project-manager:edit-projects'
  'cmd-alt-t': 'theme-switcher:switch'
  'cmd-ctrl-s': 'project-manager:save-project'
