'atom-workspace':
  'cmd-alt-t': 'theme-switcher:switch'
  'cmd-alt-g': 'github:toggle-git-tab'
  'cmd-alt-k': 'application:open-your-keymap'
'atom-text-editor':
  'ctrl-shift-left': 'pane:move-item-left'
  'ctrl-shift-right': 'pane:move-item-right'
  'ctrl-shift-w': 'editor:toggle-soft-wrap'
  'cmd-alt-shift-g': 'open-on-github:repository'
'.tree-view':
  'enter': 'tree-view:rename'
  's': 'tree-view:show-in-file-manager'
  'o': 'open-file:open'
  'cmd-shift-backspace': 'tree-view:remove-project-folder'
