'atom-workspace':
  'cmd-alt-g': 'github:toggle-git-tab'
  'ctrl-cmd-t': 'theme-switcher:switch'
  'ctrl-cmd-k': 'application:open-your-keymap'
  'ctrl-cmd-shift-p': 'project-manager:edit-projects'
'atom-text-editor':
  'cmd-alt-shift-g': 'open-on-github:file'
  'ctrl-shift-left': 'pane:move-item-left'
  'ctrl-shift-right': 'pane:move-item-right'
  'ctrl-shift-w': 'editor:toggle-soft-wrap'
  'ctrl-cmd-m': 'markdown-preview:toggle'
  'ctrl-cmd-s': 'project-manager:save-project'
'.tree-view':
  'r': 'tree-view:rename'
  'enter': 'tree-view:rename'
  's': 'tree-view:show-in-file-manager'
  'o': 'open-file:open' # open with default system app
  'cmd-shift-backspace': 'tree-view:remove-project-folder'
