packages: [
  "atom-beautify"
  "atom-material-syntax-dark"
  "atom-material-syntax-light"
  "atom-ternjs"
  "autoclose-html"
  "autocomplete"
  "autocomplete-bash-builtins"
  "autocomplete-html-entities"
  "autocomplete-javascript"
  "autocomplete-json"
  "autocomplete-modules"
  "autocomplete-paths"
  "busy-signal"
  "click-link"
  "emmet"
  "eslint-snippets"
  "file-icons"
  "file-types"
  "highlight-selected"
  "intentions"
  "language-applescript"
  "language-babel"
  "language-dotenv"
  "language-elixir"
  "language-graphql"
  "language-swift"
  "language-vue"
  "linter"
  "linter-elixirc"
  "linter-eslint"
  "linter-markdown"
  "linter-rubocop"
  "linter-shellcheck"
  "linter-ui-default"
  "lorem"
  "package-sync"
  "pigments"
  "prettier-atom"
  "pretty-json"
  "project-manager"
  "project-view"
  "sort-lines"
  "teletype"
  "theme-switcher"
  "toggle-quotes"
  "tree-view-git-status"
]
