[
  # Templates
  {
    title: "config"
    color: "#abb5c1"
    icon: "icon-person"
  }
  {
    title: "github"
    icon: "icon-mark-github"
  }
  {
    title: "lewagon"
    color: "#d23333"
    icon: "icon-rocket"
  }
  {
    title: "squonk"
    color: "#24292e"
    icon: "icon-octoface"
  }
  {
    title: "tiflis"
    color: "#912934"
    icon: "icon-home"
  }
  # Projects
  {
    title: "dotfiles"
    paths: [
      "/Users/gabrielecanepa/code/dotfiles"
    ]
    template: "config"
  }
  {
    title: "assets"
    paths: [
      "/Users/gabrielecanepa/code/assets"
    ]
    template: "config"
  }
  {
    title: "jones-sam/local-help"
    paths: [
      "/Users/gabrielecanepa/code/lewagon/projects/local-help"
    ]
    template: "lewagon"
  }
  {
    title: "gabrielecanepa/esselunga"
    paths: [
      "/Users/gabrielecanepa/code/lewagon/projects/esselunga"
    ]
    template: "lewagon"
  }
  {
    title: "lewagonlisbon/programming4everybody"
    paths: [
      "/Users/gabrielecanepa/code/lewagon/workshops/programming4everybody"
    ]
    template: "lewagon"
  }
  {
    title: "tiflis/manitoba"
    paths: [
      "/Users/gabrielecanepa/code/tiflis/manitoba"
    ]
  }
  {
    title: "gabrielecanepa/middleman-webpack"
    paths: [
      "/Users/gabrielecanepa/code/gabrielecanepa/middleman-webpack"
    ]
    template: "github"
  }
  {
    title: "gabrielecanepa/igscraper"
    paths: [
      "/Users/gabrielecanepa/code/gabrielecanepa/igscraper"
    ]
    template: "github"
  }
  {
    title: "gabrielecanepa/squanchy"
    paths: [
      "/Users/gabrielecanepa/code/gabrielecanepa/squanchy"
    ]
    template: "github"
  }
  {
    title: "gabrielecanepa/gatsby-portfolio"
    paths: [
      "/Users/gabrielecanepa/code/gabrielecanepa/gatsby-portfolio"
    ]
    template: "github"
  }
  {
    title: "squonk/squonk.tech"
    paths: [
      "/Users/gabrielecanepa/code/squonk/assets"
      "/Users/gabrielecanepa/code/squonk/squonk.tech"
    ]
    template: "squonk"
  }
]
