[
  {
    title: "lewagon"
    group: "work"
    paths: [
      "~/code/lewagon/projects/local-help"
      "~/code/lewagon/projects/esselunga"
      "~/code/lewagon/workshops/programming4everybody"
    ]
    icon: "icon-mortar-board"
    color: "#d23333"
  }
  {
    title: "tiflis"
    group: "work"
    paths: [
      "~/code/tiflis/manitoba"
    ]
    icon: "icon-flame"
    color: "#912934"
  }
  {
    title: "dotfiles"
    group: "personal"
    paths: [
      "~/code/dotfiles"
      "~/code/assets"
      "~/code/cheatsheets"
    ]
    icon: "icon-gear"
  }
  {
    title: "github"
    group: "personal"
    paths: [
      "~/code/gabrielecanepa/gatsby-portfolio"
      "~/code/gabrielecanepa/igscraper"
      "~/code/gabrielecanepa/middleman-webpack"
      "~/code/gabrielecanepa/squanchy"
    ]
    icon: "icon-mark-github"
  }
  {
    title: "squonk"
    group: "work"
    paths: [
      "~/code/squonk/www"
      "~/code/squonk/assets"
    ]
    icon: "icon-octoface"
    color: "#788290"
  }
]
