[
  {
    title: "local-help"
    paths: [
      "~/code/lewagon/projects/local-help"
    ]
    icon: "icon-mortar-board"
    color: "#d23333"
    template: "lewagon"
  }
  {
    title: "programming4everybody"
    paths: [
      "~/code/lewagon/workshops/programming4everybody"
    ]
    icon: "icon-mortar-board"
    color: "#d23333"
    template: "lewagon"
  }
  {
    title: "tiflis"
    paths: [
      "~/code/tiflis/manitoba"
    ]
    icon: "icon-flame"
    color: "#912934"
  }
  {
    title: "gabrielecanepa"
    paths: [
      "~/code/dotfiles"
      "~/code/.github"
      "~/code/assets"
      "~/code/cheatsheets"
      "~/code/zsh-custom"
    ]
    icon: "icon-gear"
  }
  {
    title: "igscraper"
    paths: [
      "~/code/gabrielecanepa/igscraper"
    ]
    icon: "icon-mark-github"
    template: "github"
  }
  {
    title: "middleman-webpack"
    paths: [
      "~/code/gabrielecanepa/middleman-webpack"
    ]
    icon: "icon-mark-github"
    template: "github"
  }
  {
    title: "gabrielecanepa.com"
    paths: [
      "~/code/gabrielecanepa/gabrielecanepa.com"
    ]
    icon: "icon-mark-github"
    template: "github"
  }
  {
    title: "gatsby-portfolio"
    paths: [
      "~/code/gabrielecanepa/gatsby-portfolio"
    ]
    icon: "icon-mark-github"
    template: "github"
  }
  {
    title: "squonk"
    paths: [
      "~/code/squonk/www"
      "~/code/squonk/assets"
    ]
    icon: "icon-octoface"
    color: "#788290"
  }
  {
    title: "github"
    icon: "icon-mark-github"
  }
  {
    title: "lewagon"
    icon: "icon-mortar-board"
    color: "#d23333"
  }
]
