# ERB
'.text.html.erb, .text.html.ruby, .source.js.rails':
  'erb-inject':
    'prefix': 'er'
    'body': '<% $1 %>$2'
    'description': 'Inject Ruby code'
    'rightLabelHTML': '<span style="color: #cc332d">ERB</span>'
  'erb-print':
    'prefix': 'pe'
    'body': '<%= $1 %>$2'
    'description': 'Print Ruby code'
    'rightLabelHTML': '<span style="color: #cc332d">ERB</span>'
