.tree-view,
.tab-bar {
  font-size: 1.1rem;
}

encoding-selector-status,
.line-ending-tile {
  display: none !important;
}

.vue-icon:before {
  color: #41b883;
}

.icon[data-name*=".iterm"]:before {
  font-family: file-icons;
  font-size: 1.15rem;
  content: "\f0c8";
}
