// File names
.tab-bar,
.tree-view {
  font-size: 1.15rem;
}

// File icons
.icon {
  &.vue-icon:before {
    color: #41b883;
  }
  &[data-name*="iterm"]:before {
    font-family: file-icons;
    font-size: 1.15rem;
    content: "\f0c8";
  }
  &[data-name*="README"]&[data-name$=".md"]:before {
    font-family: "Octicons Regular";
    content: "\f0c9";
  }
  &[data-name*="scripts"]:before {
    font-family: Mfizz;
    content: "\f156";
  }
}

// Hide encoding selector
encoding-selector-status,
.line-ending-tile {
  display: none !important;
}
