/* Reduce opacity of active indentation */
.monaco-editor .indent-active {
  opacity: 0.2;
}

/* Icons */

/* Files */

/* .aliases */
.\.aliases-name-file-icon::before {
  font-family: file-icons !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}
/* .Brewfile .Brewfile.lock.json */
.\.brewfile-name-file-icon::before,
.\.brewfile\.lock\.json-name-file-icon::before {
  font-family: file-icons !important;
  content: "\1f37a" !important;
  color: #ffbd5d !important;
  font-size: 13.8px !important;
}
/* .env */
.\.env-name-file-icon::before {
  font-family: fontawesome !important;
  content: "\f013" !important;
}
/* .gitignore.global .gitprofile */
.\.gitignore\.global-name-file-icon::before,
.\.gitprofile-name-file-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
}
.\.gitignore\.global-name-file-icon::before {
  color: #ac4142 !important;
}
.\.gitprofile-name-file-icon::before {
  color: #cccccc !important;
}
/* .macos */
.\.macos-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e925" !important;
}

/* Folders */

/* .git */
.\.git-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
}
/* .github */
.\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}
/* .vscode */
.\.vscode-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e60c" !important;
}
