/* Editor */

/* Reduce opacity of active indentation */
.monaco-editor .indent-active {
  opacity: 0.2;
}

/* Reduce opacity of ignored files/folders icon */
.monaco-decoration-itemColor--9ieymw::before {
  opacity: 0.5;
}

/* Directories */

/* .git */
.\.git-name-folder-icon {
  color: var(--vscode-gitDecoration-ignoredResourceForeground) !important;
}

.\.git-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
  opacity: 0.5 !important;
}

/* .github */
.\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}

/* .private */
.\.private-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f06a" !important;
}

/* .vscode .vscode-insiders */
.\.vscode-name-folder-icon::before,
.\.vscode-insiders-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e60c" !important;
}

/* .yarn */
.\.yarn-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\ea1a" !important;
}

/* .zsh */
.\.zsh-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\f0c8" !important;
}

/* Files */

/* .aliases */
.\.aliases-name-file-icon::before {
  font-family: file-icons !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}

/* .Brewfile .Brewfile.lock.json */
.\.brewfile-name-file-icon::before,
.\.brewfile\.lock\.json-name-file-icon::before {
  font-family: file-icons !important;
  content: "\1f37a" !important;
  font-size: 13.8px !important;
}

.\.brewfile-name-file-icon::before {
  color: #ffbd5d !important;
}

/* .CFUserTextEncoding .crontab .env .env.example .hushlogin */
.\.cfusertextencoding-name-file-icon::before,
.\.crontab-name-file-icon::before,
.\.env-name-file-icon::before,
.\.env\.example-name-file-icon::before,
.\.hushlogin-name-file-icon::before {
  font-family: fontawesome !important;
  content: "\f013" !important;
}

/* .gitignore.global .gitprofile */
.\.gitignore\.global-name-file-icon::before,
.\.gitprofile-name-file-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}

/* .macos */
.\.macos-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e925" !important;
}

/* .shellcheckrc */
.\.shellcheckrc-name-file-icon::before {
  font-family: fontawesome !important;
  content: "\f120" !important;
}
