/* Reduce opacity of active indentation */
.monaco-editor .indent-active {
  opacity: 0.2;
}

/* Icons */

/* Files */
/* .gitignore.global */
.show-file-icons .file-icon.\.gitignore\.global-name-file-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}
.show-file-icons .file-icon.\.env-name-file-icon::before {
  font-family: fontawesome !important;
  content: "\f013" !important;
}

/* Folders */
/* .git */
.show-file-icons .folder-icon.\.git-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
}
/* .github */
.show-file-icons .folder-icon.\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}
/* .vscode */
.show-file-icons .folder-icon.\.vscode-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e60c" !important;
}
