/*==== Editor ====*/

/* Reduce opacity of active indentation */
.indent-active {
  opacity: 0.2 !important;
}

/*==== File icons ====*/

/*== Global ==*/

/* Match color of ignored files/folders to git status */
.monaco-decoration-itemColor--9ieymw::before {
  opacity: 0.5 !important;
}

/*== Directories ==*/

/* .bun */
.file-icons-enabled .\.bun-name-folder-icon::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m72.182 42.37c0 13.985-14.408 25.323-32.182 25.323s-32.182-11.337-32.182-25.323c0-8.67 5.517-16.33 13.994-20.872 8.478-4.542 13.755-9.195 18.187-9.195s8.22 3.798 18.187 9.195c8.478 4.542 13.994 12.202 13.994 20.872z' fill='none' stroke='%236c6c6c' stroke-width='4' /%3E%3Cpath d='m72.182 42.37a19.925 19.925 0 0 0 -.736-5.315c-2.51 30.62-39.859 32.09-54.544 22.932a36.78 36.78 0 0 0 23.098 7.706c17.746 0 32.182-11.355 32.182-25.323z' fill='%236c6c6c' /%3E%3Cpath d='m27.615 19.815c4.11-2.464 9.572-7.09 14.941-7.098a8.542 8.542 0 0 0 -2.556-.414c-2.225 0-4.598 1.15-7.586 2.878-1.039.607-2.115 1.278-3.255 1.977-2.142 1.324-4.597 2.823-7.356 4.321-8.753 4.736-13.985 12.541-13.985 20.891v1.094c5.572-19.687 15.696-21.184 19.797-23.65z' fill='%236c6c6c' /%3E%3Cpath d='m37.352 14.629a15.089 15.089 0 0 1 -5.177 11.466c-.257.23-.055.671.276.542 3.099-1.204 7.282-4.808 5.517-12.082-.074-.413-.616-.303-.616.074zm2.087 0a14.932 14.932 0 0 1 1.48 12.386c-.11.322.286.598.506.331 2.014-2.574 3.77-7.687-1.49-13.204-.266-.24-.68.129-.496.45zm2.538-.156a15.098 15.098 0 0 1 6.298 10.813.303.303 0 0 0 .598.1c.846-3.208.368-8.68-6.593-11.52-.367-.147-.606.35-.303.57zm-16.974 9.562a15.576 15.576 0 0 0 9.627-8.275c.166-.331.69-.202.607.166-1.59 7.355-6.915 8.89-10.225 8.689-.35.009-.34-.479-.01-.58z' fill='%236c6c6c' fill-rule='evenodd' /%3E%3Cpath d='m46.483 49.082a8.211 8.211 0 0 1 -2.685 4.33 6.262 6.262 0 0 1 -3.678 1.73 6.29 6.29 0 0 1 -3.797-1.73 8.211 8.211 0 0 1 -2.648-4.33.662.662 0 0 1 .735-.745h11.346a.662.662 0 0 1 .727.745z' fill='%236c6c6c' /%3E%3Cpath d='m36.322 53.487a6.354 6.354 0 0 0 3.788 1.747 6.354 6.354 0 0 0 3.78-1.747 9.774 9.774 0 0 0 .919-.984 6.28 6.28 0 0 0 -4.506-2.124 5.655 5.655 0 0 0 -4.597 2.556c.211.193.395.377.616.552z' fill='%236c6c6c' /%3E%3Cpath d='m36.469 52.761a4.928 4.928 0 0 1 3.853-1.913 5.517 5.517 0 0 1 3.678 1.555c.211-.23.413-.469.606-.708a6.436 6.436 0 0 0 -4.33-1.774 5.848 5.848 0 0 0 -4.497 2.17 8.763 8.763 0 0 0 .69.671z' fill='%236c6c6c' /%3E%3Cpath d='m40.083 55.694a6.823 6.823 0 0 1 -4.092-1.839 8.753 8.753 0 0 1 -2.86-4.643 1.103 1.103 0 0 1 .24-.92 1.296 1.296 0 0 1 1.039-.469h11.346a1.324 1.324 0 0 1 1.039.47 1.094 1.094 0 0 1 .23.919 8.753 8.753 0 0 1 -2.86 4.643 6.823 6.823 0 0 1 -4.082 1.839zm-5.673-6.804c-.147 0-.184.064-.193.083a7.622 7.622 0 0 0 2.51 4.018 5.728 5.728 0 0 0 3.356 1.609 5.774 5.774 0 0 0 3.356-1.59 7.632 7.632 0 0 0 2.501-4.019.193.193 0 0 0 -.184-.083z' fill='%236c6c6c' /%3E%3Cellipse cx='53.994' cy='46.489' fill='%236c6c6c' rx='5.379' ry='3.163' /%3E%3Cellipse cx='26.162' cy='46.489' fill='%236c6c6c' rx='5.379' ry='3.163' /%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='m28.691 45.22a5.066 5.066 0 1 0 -5.057-5.066 5.066 5.066 0 0 0 5.057 5.066zm22.776 0a5.066 5.066 0 1 0 -5.03-5.066 5.057 5.057 0 0 0 5.03 5.066z' fill='%236c6c6c' /%3E%3Cpath d='m27.127 40.476a1.903 1.903 0 1 0 -1.894-1.903 1.903 1.903 0 0 0 1.894 1.903zm22.776 0a1.903 1.903 0 1 0 -1.894-1.903 1.903 1.903 0 0 0 1.876 1.903z' fill='%236c6c6c' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  transform: translate(-6.5%, 12.5%);
}
/* .chrome */
.file-icons-enabled .\.chrome-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e643" !important;
}
/* .config */
.file-icons-enabled .\.config-name-folder-icon::before {
  font-family: fontawesome !important;
  content: "\f013" !important;
}
/* .git */
.file-icons-enabled .\.git-name-folder-icon .label-name {
  color: var(--vscode-gitDecoration-ignoredResourceForeground) !important;
}
.file-icons-enabled .\.git-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
  opacity: 0.5 !important;
}
/* .github */
.file-icons-enabled .\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}
/* .husky */
.file-icons-enabled .\.husky-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\1f436" !important;
}
/* .macos */
.file-icons-enabled .\.macos-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\e925" !important;
}
/* .next */
.file-icons-enabled .\.next-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\24c3" !important;
}
/* .npm */
.file-icons-enabled .\.npm-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\e91c" !important;
}
/* .pnpm */
.file-icons-enabled .\.pnpm-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\eB86" !important;
}
/* .ssh */
.file-icons-enabled .\.ssh-name-folder-icon::before {
  font-family: fontawesome !important;
  content: "\f120" !important;
}
/* .vscode .vscode-insiders */
.file-icons-enabled .\.vscode-name-folder-icon::before,
.file-icons-enabled .\.vscode-insiders-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e60c" !important;
}
/* .yarn */
.file-icons-enabled .\.yarn-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\ea1a" !important;
}
/* .zsh */
.file-icons-enabled .\.zsh-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\f0c8" !important;
}
/* private .private */
.file-icons-enabled .\.private-name-folder-icon::before,
.file-icons-enabled .private-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f06a" !important;
}
/* build */
.file-icons-enabled .build-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f0c4" !important;
}

/*== Files ==*/

/* .aliases .globals */
.file-icons-enabled .\.aliases-name-file-icon::before,
.file-icons-enabled .\.globals-name-file-icon::before {
  font-family: file-icons !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}
/* .Brewfile .Brewfile.lock.json */
.file-icons-enabled .\.brewfile-name-file-icon::before,
.file-icons-enabled .\.brewfile\.lock\.json-name-file-icon::before {
  font-family: file-icons !important;
  content: "\1f37a" !important;
  font-size: 13.8px !important;
}
.file-icons-enabled .\.brewfile-name-file-icon::before {
  color: #ffbd5d !important;
}
/* .CFUserTextEncoding .crontab .env .env.example .env.sample .hushlogin */
.file-icons-enabled .\.cfusertextencoding-name-file-icon::before,
.file-icons-enabled .\.env-name-file-icon::before,
.file-icons-enabled .\.env\.example-name-file-icon::before,
.file-icons-enabled .\.env\.sample-name-file-icon::before,
.file-icons-enabled .\.hushlogin-name-file-icon::before {
  font-family: fontawesome !important;
  content: "\f013" !important;
}
/* .code-snippets */
.file-icons-enabled .code-snippets-ext-file-icon::before {
  font-family: file-icons !important;
  content: "\eb22" !important;
  color: #007acc !important;
}
/* .crontab */
.file-icons-enabled .\.crontab-name-file-icon::before {
  font-family: file-icons !important;
  content: "\1f558" !important;
}
/* .gitignore.global .gitprofile */
.file-icons-enabled .\.gitignore\.global-name-file-icon::before,
.file-icons-enabled .\.gitprofile-name-file-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}
/* .husky/* */
.file-icons-enabled .\.husky-name-dir-icon.name-file-icon::before {
  font-family: file-icons;
  color: #825078;
  content: "\f0c8";
}
/* .jobs */
.file-icons-enabled .\.jobs-name-file-icon::before {
  font-family: fontawesome !important;
  content: "\f085" !important;
}
/* .macos */
.file-icons-enabled .\.macos-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e925" !important;
  color: #6a9fb5 !important;
}
/* .shellcheckrc */
.file-icons-enabled .\.shellcheckrc-name-file-icon::before {
  font-family: file-icons !important;
  content: "\f0c8" !important;
  color: #aaaaff !important;
}
/* .yarnrc.yml */
.file-icons-enabled .\.yarnrc\.yml-name-file-icon::before {
  color: #46788d !important;
  content: "\ea1a" !important;
  font-family: file-icons !important;
  background-image: unset !important;
}
/* bun.lockb */
.file-icons-enabled .bun\.lockb-name-file-icon::before {
  content: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m72.182 42.37c0 13.985-14.408 25.323-32.182 25.323s-32.182-11.337-32.182-25.323c0-8.67 5.517-16.33 13.994-20.872 8.478-4.542 13.755-9.195 18.187-9.195s8.22 3.798 18.187 9.195c8.478 4.542 13.994 12.202 13.994 20.872z' fill='%23fff3e0' stroke='%233a474e' stroke-width='2'/%3E%3Cpath d='m72.182 42.37a19.925 19.925 0 0 0 -.736-5.315c-2.51 30.62-39.859 32.09-54.544 22.932a36.78 36.78 0 0 0 23.098 7.706c17.746 0 32.182-11.355 32.182-25.323z' fill='%23fbe9e7'/%3E%3Cpath d='m27.615 19.815c4.11-2.464 9.572-7.09 14.941-7.098a8.542 8.542 0 0 0 -2.556-.414c-2.225 0-4.598 1.15-7.586 2.878-1.039.607-2.115 1.278-3.255 1.977-2.142 1.324-4.597 2.823-7.356 4.321-8.753 4.736-13.985 12.541-13.985 20.891v1.094c5.572-19.687 15.696-21.184 19.797-23.65z' fill='%23fafafa'/%3E%3Cpath d='m37.352 14.629a15.089 15.089 0 0 1 -5.177 11.466c-.257.23-.055.671.276.542 3.099-1.204 7.282-4.808 5.517-12.082-.074-.413-.616-.303-.616.074zm2.087 0a14.932 14.932 0 0 1 1.48 12.386c-.11.322.286.598.506.331 2.014-2.574 3.77-7.687-1.49-13.204-.266-.24-.68.129-.496.45zm2.538-.156a15.098 15.098 0 0 1 6.298 10.813.303.303 0 0 0 .598.1c.846-3.208.368-8.68-6.593-11.52-.367-.147-.606.35-.303.57zm-16.974 9.562a15.576 15.576 0 0 0 9.627-8.275c.166-.331.69-.202.607.166-1.59 7.355-6.915 8.89-10.225 8.689-.35.009-.34-.479-.01-.58z' fill='%23bcaaa4' fill-rule='evenodd'/%3E%3Cpath d='m46.483 49.082a8.211 8.211 0 0 1 -2.685 4.33 6.262 6.262 0 0 1 -3.678 1.73 6.29 6.29 0 0 1 -3.797-1.73 8.211 8.211 0 0 1 -2.648-4.33.662.662 0 0 1 .735-.745h11.346a.662.662 0 0 1 .727.745z' fill='%23b71c1c'/%3E%3Cpath d='m36.322 53.487a6.354 6.354 0 0 0 3.788 1.747 6.354 6.354 0 0 0 3.78-1.747 9.774 9.774 0 0 0 .919-.984 6.28 6.28 0 0 0 -4.506-2.124 5.655 5.655 0 0 0 -4.597 2.556c.211.193.395.377.616.552z' fill='%23ff5252'/%3E%3Cpath d='m36.469 52.761a4.928 4.928 0 0 1 3.853-1.913 5.517 5.517 0 0 1 3.678 1.555c.211-.23.413-.469.606-.708a6.436 6.436 0 0 0 -4.33-1.774 5.848 5.848 0 0 0 -4.497 2.17 8.763 8.763 0 0 0 .69.671z' fill='%2337474f'/%3E%3Cpath d='m40.083 55.694a6.823 6.823 0 0 1 -4.092-1.839 8.753 8.753 0 0 1 -2.86-4.643 1.103 1.103 0 0 1 .24-.92 1.296 1.296 0 0 1 1.039-.469h11.346a1.324 1.324 0 0 1 1.039.47 1.094 1.094 0 0 1 .23.919 8.753 8.753 0 0 1 -2.86 4.643 6.823 6.823 0 0 1 -4.082 1.839zm-5.673-6.804c-.147 0-.184.064-.193.083a7.622 7.622 0 0 0 2.51 4.018 5.728 5.728 0 0 0 3.356 1.609 5.774 5.774 0 0 0 3.356-1.59 7.632 7.632 0 0 0 2.501-4.019.193.193 0 0 0 -.184-.083z' fill='%2337474f'/%3E%3Cellipse cx='53.994' cy='46.489' fill='%23f8bbd0' rx='5.379' ry='3.163'/%3E%3Cellipse cx='26.162' cy='46.489' fill='%23f8bbd0' rx='5.379' ry='3.163'/%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='m28.691 45.22a5.066 5.066 0 1 0 -5.057-5.066 5.066 5.066 0 0 0 5.057 5.066zm22.776 0a5.066 5.066 0 1 0 -5.03-5.066 5.057 5.057 0 0 0 5.03 5.066z' fill='%2337474f'/%3E%3Cpath d='m27.127 40.476a1.903 1.903 0 1 0 -1.894-1.903 1.903 1.903 0 0 0 1.894 1.903zm22.776 0a1.903 1.903 0 1 0 -1.894-1.903 1.903 1.903 0 0 0 1.876 1.903z' fill='%23fff'/%3E%3C/g%3E%3C/svg%3E") !important;
  transform: translate(-6.5%, 12.5%);
}
/* commitlint.config.ts */
.file-icons-enabled .commitlint\.config\.ts-name-file-icon::before {
  content: "\1f191" !important;
}
/* craco.config.ts */
.file-icons-enabled .craco\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\f02f" !important;
  color: #1f8e76 !important;
}
/* postcss.config.cjs postcss.config.js */
.file-icons-enabled .postcss\.config\.cjs-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e910" !important;
  color: #90a959 !important;
}
.file-icons-enabled .postcss\.config\.js-name-file-icon::before,
.file-icons-enabled .postcss\.config\.ts-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e910" !important;
  color: #c82829 !important;
}
/* svgo.config.js */
.file-icons-enabled .svgo\.config\.js-name-file-icon::before {
  font-family: mfixx !important;
  color: #f4bf75 !important;
  content: "\f15c" !important;
}
/* tsconfig.*.json */
.file-icons-enabled .tsconfig\.paths\.json-name-file-icon::before {
  color: #6a9fb5 !important;
  content: "\eb1b" !important;
  font-family: file-icons !important;
}
/* tsup.config.js tsup.config.ts */
.file-icons-enabled .tsup\.config\.js-name-file-icon::before,
.file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
  font-family: file-icons !important;
  content: "\ea61" !important;
  color: #6c6c6c !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .\.bun-name-folder-icon::before {
    content: url("data:image/svg+xml,%3Csvg viewBox='0 0 80 80' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='m72.182 42.37c0 13.985-14.408 25.323-32.182 25.323s-32.182-11.337-32.182-25.323c0-8.67 5.517-16.33 13.994-20.872 8.478-4.542 13.755-9.195 18.187-9.195s8.22 3.798 18.187 9.195c8.478 4.542 13.994 12.202 13.994 20.872z' fill='none' stroke='%23cccccc' stroke-width='4' /%3E%3Cpath d='m72.182 42.37a19.925 19.925 0 0 0 -.736-5.315c-2.51 30.62-39.859 32.09-54.544 22.932a36.78 36.78 0 0 0 23.098 7.706c17.746 0 32.182-11.355 32.182-25.323z' fill='%23cccccc' /%3E%3Cpath d='m27.615 19.815c4.11-2.464 9.572-7.09 14.941-7.098a8.542 8.542 0 0 0 -2.556-.414c-2.225 0-4.598 1.15-7.586 2.878-1.039.607-2.115 1.278-3.255 1.977-2.142 1.324-4.597 2.823-7.356 4.321-8.753 4.736-13.985 12.541-13.985 20.891v1.094c5.572-19.687 15.696-21.184 19.797-23.65z' fill='%23cccccc' /%3E%3Cpath d='m37.352 14.629a15.089 15.089 0 0 1 -5.177 11.466c-.257.23-.055.671.276.542 3.099-1.204 7.282-4.808 5.517-12.082-.074-.413-.616-.303-.616.074zm2.087 0a14.932 14.932 0 0 1 1.48 12.386c-.11.322.286.598.506.331 2.014-2.574 3.77-7.687-1.49-13.204-.266-.24-.68.129-.496.45zm2.538-.156a15.098 15.098 0 0 1 6.298 10.813.303.303 0 0 0 .598.1c.846-3.208.368-8.68-6.593-11.52-.367-.147-.606.35-.303.57zm-16.974 9.562a15.576 15.576 0 0 0 9.627-8.275c.166-.331.69-.202.607.166-1.59 7.355-6.915 8.89-10.225 8.689-.35.009-.34-.479-.01-.58z' fill='%23cccccc' fill-rule='evenodd' /%3E%3Cpath d='m46.483 49.082a8.211 8.211 0 0 1 -2.685 4.33 6.262 6.262 0 0 1 -3.678 1.73 6.29 6.29 0 0 1 -3.797-1.73 8.211 8.211 0 0 1 -2.648-4.33.662.662 0 0 1 .735-.745h11.346a.662.662 0 0 1 .727.745z' fill='%23cccccc' /%3E%3Cpath d='m36.322 53.487a6.354 6.354 0 0 0 3.788 1.747 6.354 6.354 0 0 0 3.78-1.747 9.774 9.774 0 0 0 .919-.984 6.28 6.28 0 0 0 -4.506-2.124 5.655 5.655 0 0 0 -4.597 2.556c.211.193.395.377.616.552z' fill='%23cccccc' /%3E%3Cpath d='m36.469 52.761a4.928 4.928 0 0 1 3.853-1.913 5.517 5.517 0 0 1 3.678 1.555c.211-.23.413-.469.606-.708a6.436 6.436 0 0 0 -4.33-1.774 5.848 5.848 0 0 0 -4.497 2.17 8.763 8.763 0 0 0 .69.671z' fill='%23cccccc' /%3E%3Cpath d='m40.083 55.694a6.823 6.823 0 0 1 -4.092-1.839 8.753 8.753 0 0 1 -2.86-4.643 1.103 1.103 0 0 1 .24-.92 1.296 1.296 0 0 1 1.039-.469h11.346a1.324 1.324 0 0 1 1.039.47 1.094 1.094 0 0 1 .23.919 8.753 8.753 0 0 1 -2.86 4.643 6.823 6.823 0 0 1 -4.082 1.839zm-5.673-6.804c-.147 0-.184.064-.193.083a7.622 7.622 0 0 0 2.51 4.018 5.728 5.728 0 0 0 3.356 1.609 5.774 5.774 0 0 0 3.356-1.59 7.632 7.632 0 0 0 2.501-4.019.193.193 0 0 0 -.184-.083z' fill='%23cccccc' /%3E%3Cellipse cx='53.994' cy='46.489' fill='%23cccccc' rx='5.379' ry='3.163' /%3E%3Cellipse cx='26.162' cy='46.489' fill='%23cccccc' rx='5.379' ry='3.163' /%3E%3Cg fill-rule='evenodd'%3E%3Cpath d='m28.691 45.22a5.066 5.066 0 1 0 -5.057-5.066 5.066 5.066 0 0 0 5.057 5.066zm22.776 0a5.066 5.066 0 1 0 -5.03-5.066 5.057 5.057 0 0 0 5.03 5.066z' fill='%23cccccc' /%3E%3Cpath d='m27.127 40.476a1.903 1.903 0 1 0 -1.894-1.903 1.903 1.903 0 0 0 1.894 1.903zm22.776 0a1.903 1.903 0 1 0 -1.894-1.903 1.903 1.903 0 0 0 1.876 1.903z' fill='%23cccccc' /%3E%3C/g%3E%3C/svg%3E%0A") !important;
  }
  .file-icons-enabled .tsup\.config\.js-name-file-icon::before,
  .file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
    color: #cccccc !important;
  }
}
/* vitest.config.js vitest.config.ts */
.file-icons-enabled .vitest\.config\.js-name-file-icon::before,
.file-icons-enabled .vitest\.config\.ts-name-file-icon::before {
  font-family: file-icons !important;
  content: "\2607" !important;
  color: #7b9a36 !important;
}
