/* ##Globals## */

/* Root */
:root {
  --icon-obsidian: url("https://i.ibb.co/1spcF9B/obsidian-light.png");
}
@media (prefers-color-scheme: dark) {
  :root {
    --icon-obsidian: url("https://i.ibb.co/9w0jKZX/obsidian-dark.png");
  }
}

/* Match color of ignored files/folders to git status */
.monaco-decoration-itemColor--9ieymw::before {
  opacity: 0.5 !important;
}

/* ##Icons## */

/* All icons */
.file-icons-enabled .folder-icon::before {
  color: inherit !important;
}
/* Test */
/* __tests__ */
.file-icons-enabled .__tests__-name-folder-icon::before {
  font-family: fi !important;
  content: "\ea63" !important;
  font-size: 121% !important;
}
/* Binaries */
/* .bin bin */
.file-icons-enabled .\.bin-name-folder-icon::before,
.file-icons-enabled .bin-name-folder-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
}
/* Chrome */
/* .chrome */
.file-icons-enabled .\.chrome-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e643" !important;
}
/* Configurations */
/* .config */
.file-icons-enabled .\.config-name-folder-icon::before {
  font-family: fa !important;
  content: "\f013" !important;
}
/* Git */
/* .git */
.file-icons-enabled .\.git-name-folder-icon .label-name {
  color: var(--vscode-gitDecoration-ignoredResourceForeground) !important;
}
.file-icons-enabled .\.git-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  opacity: 0.5 !important;
}
/* GitHub */
/* .github */
.file-icons-enabled .\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}
/* Husky */
/* .husky */
.file-icons-enabled .\.husky-name-folder-icon::before {
  font-family: fi !important;
  content: "\1f436" !important;
}
/* MacOS */
/* .macos/ */
.file-icons-enabled .\.macos-name-folder-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
}
/* .macos */
.file-icons-enabled .\.macos-name-file-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
  color: #6a9fb5 !important;
}
/* Next.js */
/* .next/ */
.file-icons-enabled .\.next-name-folder-icon::before {
  font-family: fi !important;
  content: "\24c3" !important;
}
/* npm */
/* .npm/ */
.file-icons-enabled .\.npm-name-folder-icon::before {
  font-family: fi !important;
  content: "\e91c" !important;
}
/* pnpm */
/* .pnpm/ */
.file-icons-enabled .\.pnpm-name-folder-icon::before {
  font-family: fi !important;
  content: "\eB86" !important;
}
/* Shell */
/* .aliases */
.file-icons-enabled .\.aliases-name-file-icon::before {
  font-family: fi !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}
/* .zcompdump */
.file-icons-enabled .\.zcompdump-name-file-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
  color: #6a9fb5 !important;
}
/* .ssh */
.file-icons-enabled .\.ssh-name-folder-icon::before {
  font-family: fa !important;
  content: "\f120" !important;
}
/* .zsh */
.file-icons-enabled .\.zsh-name-folder-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
}
/* Folders */
/* build/ */
.file-icons-enabled .build-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f0c4" !important;
}
/* private/ .private/ */
.file-icons-enabled .\.private-name-folder-icon::before,
.file-icons-enabled .private-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f06a" !important;
}
/* Atomizer */
/* .atomizer.config.js */
.file-icons-enabled .atomizer\.config\.js-name-file-icon::before {
  font-family: devicons !important;
  content: "\e664" !important;
  color: #377eaa !important;
}
/* Homebrew */
/* .Brewfile .Brewfile.lock.json */
.file-icons-enabled .\.brewfile-name-file-icon::before,
.file-icons-enabled .\.brewfile\.lock\.json-name-file-icon::before {
  font-family: fi !important;
  content: "\1f37a" !important;
  font-size: 13.8px !important;
}
/* .Brewfile */
.file-icons-enabled .\.brewfile-name-file-icon::before {
  color: #ffbd5d !important;
}
/* VSCode */
/* .vscode .vscode-insiders */
.file-icons-enabled .\.vscode-name-folder-icon::before,
.file-icons-enabled .\.vscode-insiders-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e60c" !important;
}
/* *.code-snippets */
.file-icons-enabled .code-snippets-ext-file-icon::before {
  font-family: fi !important;
  content: "\eb22" !important;
}
/* .crontab */
.file-icons-enabled .\.crontab-name-file-icon::before {
  font-family: fi !important;
  content: "\1f558" !important;
  font-size: 100% !important;
  color: unset !important;
}
/* Env */
/* .env .env.example .env.sample */
.file-icons-enabled .\.env-name-file-icon::before,
.file-icons-enabled .\.env\.example-name-file-icon::before,
.file-icons-enabled .\.env\.sample-name-file-icon::before {
  font-family: fa !important;
  content: "\f013" !important;
  color: unset !important;
}
/* Git */
/* .gitignore.global .gitprofile */
.file-icons-enabled .\.gitignore\.global-name-file-icon::before,
.file-icons-enabled .\.gitprofile-name-file-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}
/* Husky - .husky/* */
.file-icons-enabled .\.husky-name-dir-icon.name-file-icon::before {
  font-family: fi;
  color: #825078;
  content: "\f0c8";
}
/* Net - .netrc */
.file-icons-enabled .\.netrc-name-file-icon::before {
  font-family: mf !important;
  content: "\f160" !important;
  color: unset !important;
}
/* Yarn - .yarnrc.yml */
.file-icons-enabled .\.yarnrc\.yml-name-file-icon::before {
  color: #46788d !important;
  content: "\ea1a" !important;
  font-family: fi !important;
  background-image: unset !important;
}
/* commitlint */
/* .commitlintrc */
.file-icons-enabled .\.commitlintrc-name-file-icon::before {
  color: #769eb3 !important;
  content: "\1f191" !important;
  font-size: 107% !important;
  font-family: fi !important;
}
/* commitlint.config.mjs commitlint.config.ts */
.file-icons-enabled .commitlint\.config\.mjs-name-file-icon::before,
.file-icons-enabled .commitlint\.config\.ts-name-file-icon::before {
  content: "\1f191" !important;
}
/* CRACO - craco.config.ts */
.file-icons-enabled .craco\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\f02f" !important;
  color: #1f8e76 !important;
}
/* Jest - jest.setup.ts */
.file-icons-enabled .jest\.setup\.ts-name-file-icon::before {
  content: "\ea39" !important;
  font-size: 107% !important;
  font-family: fi !important;
  color: #f5c06d !important;
}
/* Next.js - next-env.d.ts */
.file-icons-enabled .next-env\.d\.ts-name-file-icon::before {
  color: #7f7f7f !important;
  content: "\24c3" !important;
  font-size: 107% !important;
  font-family: fi !important;
}
/** Node.js **/
/* .nodenv/ */
.file-icons-enabled .\.nodenv-name-folder-icon::before {
  content: "\e618" !important;
  font-size: 114% !important;
  font-family: devicons !important;
}
/* Obsidian */
.file-icons-enabled .\.obsidian-name-folder-icon::before {
  background-image: var(--icon-obsidian) !important;
  content: "" !important;
  background-size: 0.92em !important;
}
/* PostCSS postcss.config.cjs postcss.config.js */
.file-icons-enabled .postcss\.config\.cjs-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #90a959 !important;
}
.file-icons-enabled .postcss\.config\.js-name-file-icon::before,
.file-icons-enabled .postcss\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #c82829 !important;
}
/* Python */
/* .pyenv/ */
.file-icons-enabled .\.pyenv-name-folder-icon::before {
  content: "\f14c" !important;
  font-family: mf !important;
}
/* release-it - release.config.(js|cjs|mjs) */
.file-icons-enabled .\.release-it\.json-name-file-icon::before,
.file-icons-enabled .release\.config\.js-name-file-icon::before,
.file-icons-enabled .release\.config\.cjs-name-file-icon::before,
.file-icons-enabled .release\.config\.mjs-name-file-icon::before {
  color: #7f7f7f !important;
  content: "\1f7cd" !important;
  font-size: 114% !important;
  font-family: fi !important;
}
/** Ruby **/
/* .rbenv/ */
.file-icons-enabled .\.rbenv-name-folder-icon::before {
  content: "\f047" !important;
  font-size: 114% !important;
  font-family: octicons !important;
}
/* svgo - svgo.config.js */
.file-icons-enabled .svgo\.config\.js-name-file-icon::before {
  font-family: mfixx !important;
  color: #f4bf75 !important;
  content: "\f15c" !important;
}
/* TypeScript - tsconfig.*.json */
.file-icons-enabled .tsconfig\.paths\.json-name-file-icon::before {
  color: #6a9fb5 !important;
  content: "\eb1b" !important;
  font-family: fi !important;
}
/* Tsup - tsup.config.js tsup.config.ts */
.file-icons-enabled .tsup\.config\.js-name-file-icon::before,
.file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\ea61" !important;
  color: #6c6c6c !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .tsup\.config\.js-name-file-icon::before,
  .file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
    color: #cccccc !important;
  }
}
/* Vitest - vitest.config.js vitest.config.ts */
.file-icons-enabled .vitest\.config\.js-name-file-icon::before,
.file-icons-enabled .vitest\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\2607" !important;
  color: #7b9a36 !important;
}
