/**
 * Global
 */

/* Ignored files */
.monaco-decoration-itemColor--9ieymw::before {
  opacity: 0.5 !important;
}

/**
 * Activity Bar
 */
.header-or-footer {
  height: 42px !important;
}
.header-or-footer .composite-bar {
  width: 100% !important;
  padding-bottom: 6px !important;
}
.header-or-footer .actions-container {
  gap: 3px !important;
}
.header-or-footer .action-label {
  font-size: 19px !important;
}
.header-or-footer .active-item-indicator::before {
  border-width: 1.5px !important;
}

/* Status Bar */
#be5invis\.vscode-custom-css {
  display: none !important;
}

/**
 * File Icons
 */

/* All */
.file-icons-enabled .folder-icon::before {
  color: inherit !important;
}

/* Agents */
.file-icons-enabled .\.agents\.md-name-file-icon::before {
  content: "\ec4f" !important;
}

/* Aliases */
.file-icons-enabled .\.aliases-name-file-icon::before {
  font-family: fi !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}

/* Atomizer */
.file-icons-enabled .atomizer\.config\.js-name-file-icon::before,
.file-icons-enabled .atomizer\.config\.mjs-name-file-icon::before,
.file-icons-enabled .atomizer\.config\.cjs-name-file-icon::before {
  font-family: devicons !important;
  content: "\e664" !important;
}

/* Azure */
.file-icons-enabled .\.azure-name-folder-icon::before,
.file-icons-enabled .\.azure-shell-name-folder-icon::before,
.file-icons-enabled .\.azurefunctions-name-folder-icon::before {
  font-family: fi !important;
  content: "\1f680" !important;
}

/* AWS */
.file-icons-enabled .\.aws-name-folder-icon::before,
.file-icons-enabled .\.aws-sam-name-folder-icon::before {
  font-family: mf !important;
  content: "\f103" !important;
}

/* Biome */
.file-icons-enabled .biome\.json-name-file-icon::before {
  content: url('data:image/svg+xml,<svg width="14" height="13" viewBox="0 0 14 13" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M6.9998 0L3.88147 5.56836C5.06473 5.19226 6.33764 5.1365 7.57154 5.43658L8.62544 5.69305L7.63389 10.0278L6.5785 9.77134C5.76778 9.57416 4.92268 9.76954 4.26909 10.3023C3.94215 10.5689 3.68459 10.9036 3.50807 11.2791L2.53254 10.7925C2.77933 10.2669 3.14015 9.7982 3.59592 9.42622C4.5076 8.68222 5.69627 8.40893 6.8281 8.68428L7.32237 6.52389C5.55187 6.09356 3.68596 6.52208 2.25948 7.6861C0.833162 8.85 0 10.6243 0 12.4998L14 12.5L6.9998 0Z" fill="%2360A5FA"/></svg>') !important;
  font-size: 107% !important;
  font-family: fi !important;
  color: #61a5fa !important;
}

/* Build */
.file-icons-enabled .build-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f0c4" !important;
}

/* Bundler */
.file-icons-enabled .\.bundle-name-folder-icon::before {
  content: "\f047" !important;
  font-size: 114% !important;
  font-family: octicons !important;
}

/* Chrome */
.file-icons-enabled .\.chrome-name-folder-icon::before,
.file-icons-enabled .claude\.md-name-file-icon::before {
  font-family: devicons !important;
  content: "\e643" !important;
}

/* Claude */
.file-icons-enabled .\.claude-name-folder-icon::before,
.file-icons-enabled .claude\.md-name-file-icon::before {
  font-family: devicons !important;
  content: "\e601" !important;
}
.file-icons-enabled .claude\.md-name-file-icon::before {
  color: #cc7c5e !important;
}

/* Commitlint */
.file-icons-enabled .\.commitlintrc-name-file-icon::before {
  color: #769eb3 !important;
  content: "\1f191" !important;
  font-size: 107% !important;
  font-family: fi !important;
}
.file-icons-enabled .commitlint\.config\.mjs-name-file-icon::before,
.file-icons-enabled .commitlint\.config\.ts-name-file-icon::before {
  content: "\1f191" !important;
}

/* Config */
.file-icons-enabled .\.config-name-folder-icon::before {
  font-family: fa !important;
  content: "\f013" !important;
}

/* Craco */
.file-icons-enabled .craco\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\f02f" !important;
  color: #1f8e76 !important;
}

/* Crontab */
.file-icons-enabled .\.crontab-name-file-icon::before {
  font-family: fi !important;
  content: "\1f558" !important;
  font-size: 100% !important;
  color: unset !important;
}

/* Env */
.file-icons-enabled .\.env-name-file-icon::before,
.file-icons-enabled .file-icon[aria-label*="/.env."]::before {
  font-family: fa !important;
  content: "\f013" !important;
  color: unset !important;
}

/* ESLint */
.file-icons-enabled .eslint\.config\.cjs-name-file-icon::before,
.file-icons-enabled .eslint\.config\.js-name-file-icon::before,
.file-icons-enabled .eslint\.config\.mjs-name-file-icon::before,
.file-icons-enabled .eslint\.config\.ts-name-file-icon::before {
  content: "\ea0f" !important;
  font-size: 114% !important;
  font-family: fi !important;
}

/* Fastify */
.file-icons-enabled .\.fastify-name-folder-icon::before {
  font-family: fi !important;
  content: "\eac9" !important;
}

/* Git */
.file-icons-enabled .\.git-name-folder-icon .label-name {
  color: var(--vscode-gitDecoration-ignoredResourceForeground) !important;
}
.file-icons-enabled .\.git-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  opacity: 0.5 !important;
}
.file-icons-enabled .\.gitignore\.global-name-file-icon::before,
.file-icons-enabled .\.gitprofile-name-file-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}

/* GitHub */
.file-icons-enabled .\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}

/* GraphQL */
.file-icons-enabled .\.graphqlrc::before,
.file-icons-enabled .\.graphqlrc\.js::before,
.file-icons-enabled .\.graphqlrc\.json::before,
.file-icons-enabled .\.graphqlrc\.toml::before,
.file-icons-enabled .\.graphqlrc\.ts::before,
.file-icons-enabled .\.graphqlrc\.yml::before,
.file-icons-enabled .graphql\.config\.js-name-file-icon::before,
.file-icons-enabled .graphql\.config\.json-name-file-icon::before,
.file-icons-enabled .graphql\.config\.toml-name-file-icon::before,
.file-icons-enabled .graphql\.config\.ts-name-file-icon::before,
.file-icons-enabled .codegen\.ts-name-file-icon::before,
.file-icons-enabled .codegen\.config\.ts-name-file-icon::before,
.file-icons-enabled .gql-name-folder-icon::before {
  content: "\e97c" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* Homebrew */
.file-icons-enabled .file-icon[aria-label^="~/.Brewfile"]::before {
  font-family: fi !important;
  content: "\1f37a" !important;
  font-size: 13.8px !important;
}
.file-icons-enabled .file-icon[aria-label^="~/.Brewfile"]:not([aria-label*=".lock"])::before {
  color: #ffbd5d !important;
}
.file-icons-enabled .file-icon[aria-label^="~/.Brewfile.lock"]::before {
  color: #75b5aa !important;
}

/* Husky */
.file-icons-enabled .\.husky-name-folder-icon::before {
  font-family: fi !important;
  content: "\1f436" !important;
}
.file-icons-enabled .\.husky-name-dir-icon.name-file-icon::before {
  font-family: fi;
  color: #825078;
  content: "\f0c8";
}

/* Jest */
.file-icons-enabled .jest\.setup\.ts-name-file-icon::before {
  content: "\ea39" !important;
  font-size: 107% !important;
  font-family: fi !important;
  color: #f5c06d !important;
}

/* Lefthook */
.file-icons-enabled .lefthook\.json-name-file-icon::before {
  color: #ac4142 !important;
  content: "\eb8b" !important;
  font-size: 121% !important;
  font-family: "fi" !important;
}

/* Mac */
.file-icons-enabled .\.macos-name-folder-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
}
.file-icons-enabled .\.macos-name-file-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
  color: #6a9fb5 !important;
}

/* MCP */
.file-icons-enabled .mcp\.json-name-file-icon::before,
.file-icons-enabled .\.mcp\.json-name-file-icon::before {
  content: url("data:image/svg+xml,%3Csvg fill='%23080808' fill-rule='evenodd' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.688 2.343a2.588 2.588 0 00-3.61 0l-9.626 9.44a.863.863 0 01-1.203 0 .823.823 0 010-1.18l9.626-9.44a4.313 4.313 0 016.016 0 4.116 4.116 0 011.204 3.54 4.3 4.3 0 013.609 1.18l.05.05a4.115 4.115 0 010 5.9l-8.706 8.537a.274.274 0 000 .393l1.788 1.754a.823.823 0 010 1.18.863.863 0 01-1.203 0l-1.788-1.753a1.92 1.92 0 010-2.754l8.706-8.538a2.47 2.47 0 000-3.54l-.05-.049a2.588 2.588 0 00-3.607-.003l-7.172 7.034-.002.002-.098.097a.863.863 0 01-1.204 0 .823.823 0 010-1.18l7.273-7.133a2.47 2.47 0 00-.003-3.537z'%3E%3C/path%3E%3Cpath d='M14.485 4.703a.823.823 0 000-1.18.863.863 0 00-1.204 0l-7.119 6.982a4.115 4.115 0 000 5.9 4.314 4.314 0 006.016 0l7.12-6.982a.823.823 0 000-1.18.863.863 0 00-1.204 0l-7.119 6.982a2.588 2.588 0 01-3.61 0 2.47 2.47 0 010-3.54l7.12-6.982z'%3E%3C/path%3E%3C/svg%3E%0A") !important;
  padding-top: 2px !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .mcp\.json-name-file-icon::before,
  .file-icons-enabled .\.mcp\.json-name-file-icon::before {
    content: url("data:image/svg+xml,%3Csvg fill='%23f0f0f0' fill-rule='evenodd' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.688 2.343a2.588 2.588 0 00-3.61 0l-9.626 9.44a.863.863 0 01-1.203 0 .823.823 0 010-1.18l9.626-9.44a4.313 4.313 0 016.016 0 4.116 4.116 0 011.204 3.54 4.3 4.3 0 013.609 1.18l.05.05a4.115 4.115 0 010 5.9l-8.706 8.537a.274.274 0 000 .393l1.788 1.754a.823.823 0 010 1.18.863.863 0 01-1.203 0l-1.788-1.753a1.92 1.92 0 010-2.754l8.706-8.538a2.47 2.47 0 000-3.54l-.05-.049a2.588 2.588 0 00-3.607-.003l-7.172 7.034-.002.002-.098.097a.863.863 0 01-1.204 0 .823.823 0 010-1.18l7.273-7.133a2.47 2.47 0 00-.003-3.537z'%3E%3C/path%3E%3Cpath d='M14.485 4.703a.823.823 0 000-1.18.863.863 0 00-1.204 0l-7.119 6.982a4.115 4.115 0 000 5.9 4.314 4.314 0 006.016 0l7.12-6.982a.823.823 0 000-1.18.863.863 0 00-1.204 0l-7.119 6.982a2.588 2.588 0 01-3.61 0 2.47 2.47 0 010-3.54l7.12-6.982z'%3E%3C/path%3E%3C/svg%3E%0A") !important;
  }
}

/* MikroORM */
.file-icons-enabled .mikro-orm\.config\.js-name-file-icon::before,
.file-icons-enabled .mikro-orm\.config\.ts-name-file-icon::before {
  content: "\f10e" !important;
  font-family: mf !important;
}

/* NestJS */
.file-icons-enabled .nest-cli\.json-name-file-icon::before {
  font-family: fi !important;
  content: "\eac9" !important;
  color: #e0234f !important;
}
.file-icons-enabled .\.nest-name-folder-icon::before,
.file-icons-enabled .\.nest_repl_history-name-file-icon::before {
  font-family: fi !important;
  content: "\eac9" !important;
}

/* Netrc */
.file-icons-enabled .\.netrc-name-file-icon::before {
  font-family: mf !important;
  content: "\f160" !important;
  color: unset !important;
}

/* Next.js */
.file-icons-enabled .\.next-name-folder-icon::before {
  font-family: fi !important;
  content: "\24c3" !important;
}
.file-icons-enabled .next\.config\.ts-name-file-icon::before,
.file-icons-enabled .next-env\.d\.ts-name-file-icon::before {
  color: #7f7f7f !important;
  content: "\24c3" !important;
  font-size: 107% !important;
  font-family: fi !important;
}

/* Nodenv */
.file-icons-enabled .\.nodenv-name-folder-icon::before {
  content: "\e618" !important;
  font-size: 114% !important;
  font-family: devicons !important;
}

/* Npm */
.file-icons-enabled .\.npm-name-folder-icon::before {
  font-family: fi !important;
  content: "\e91c" !important;
}

/* Nx */
.file-icons-enabled .\.nx-name-folder-icon::before {
  content: "\eb9c" !important;
  font-size: 121% !important;
  font-family: "fi" !important;
}

/* Oxc */
.file-icons-enabled .\.oxlintrc\.json-name-file-icon::before,
.file-icons-enabled .oxlintrc\.json-name-file-icon::before {
  font-size: 114% !important;
  font-family: fa !important;
  content: "\f13d" !important;
  color: #ee804b !important;
}

/* Panda CSS */
.file-icons-enabled .panda-name-folder-icon::before,
.file-icons-enabled .styled-system-name-folder-icon::before,
.file-icons-enabled .panda\.config\.js-name-file-icon::before,
.file-icons-enabled .panda\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\eac1" !important;
}
.file-icons-enabled .panda\.config\.js-name-file-icon::before,
.file-icons-enabled .panda\.config\.ts-name-file-icon::before {
  color: #f4bf75 !important;
}

/* Pnpm */
.file-icons-enabled .\.pnpm-name-folder-icon::before {
  font-family: fi !important;
  content: "\eB86" !important;
}

/* PostCSS */
.file-icons-enabled .postcss\.config\.cjs-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #90a959 !important;
}
.file-icons-enabled .postcss\.config\.js-name-file-icon::before,
.file-icons-enabled .postcss\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #c82829 !important;
}

/* Prettier */
.file-icons-enabled .prettier\.config\.js-name-file-icon::before {
  color: #ed9f2e !important;
}
.file-icons-enabled .prettier\.config\.ts-name-file-icon::before {
  content: "\eaa1" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* Prisma */
.file-icons-enabled .prisma-name-folder-icon::before {
  font-family: fi !important;
  content: "\eac5" !important;
  font-size: 104% !important;
}
.file-icons-enabled .prisma-lang-file-icon::before {
  font-family: fi !important;
  content: "\eac5" !important;
  font-size: 102% !important;
  color: #03bfa5 !important;
  background: none !important;
}

/* Private */
.file-icons-enabled .\.private-name-folder-icon::before,
.file-icons-enabled .private-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f06a" !important;
}

/* Pyenv */
.file-icons-enabled .\.pyenv-name-folder-icon::before {
  content: "\f14c" !important;
  font-family: mf !important;
}

/* Rbenv */
.file-icons-enabled .\.rbenv-name-folder-icon::before {
  content: "\f047" !important;
  font-size: 114% !important;
  font-family: octicons !important;
}

/* Release-it */
.file-icons-enabled .\.release-it\.json-name-file-icon::before,
.file-icons-enabled .\.release-it\.ts-name-file-icon::before,
.file-icons-enabled .\.release-it\.js-name-file-icon::before,
.file-icons-enabled .\.release-it\.cjs-name-file-icon::before,
.file-icons-enabled .\.release-it\.yaml-name-file-icon::before,
.file-icons-enabled .\.release-it\.yml-name-file-icon::before,
.file-icons-enabled .\.release-it\.toml-name-file-icon::before,
.file-icons-enabled .release-it\.config\.ts-name-file-icon::before {
  font-size: 114% !important;
  font-family: fa !important;
  content: "\f135" !important;
  transform: translateX(1.5px) !important;
}

/* Semantic Release */
.file-icons-enabled .release\.config\.js-name-file-icon::before,
.file-icons-enabled .release\.config\.cjs-name-file-icon::before,
.file-icons-enabled .release\.config\.mjs-name-file-icon::before,
.file-icons-enabled .release\.config\.ts-name-file-icon::before {
  color: #7f7f7f !important;
  content: "\1f7cd" !important;
  font-size: 114% !important;
  font-family: "fi" !important;
}

/* Shadcn */
.file-icons-enabled .components\.json-name-file-icon::before {
  font-family: fi !important;
  content: "\e9b3" !important;
  color: #52525b !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .components\.json-name-file-icon::before {
    color: #cccccc !important;
  }
}

/* Shopify */
.show-file-icons .liquid-ext-file-icon.ext-file-icon.file-icon::before {
  color: #90a959 !important;
  content: "\e9cf" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
  background-image: unset !important;
}
.file-icons-enabled .\.shopify-name-folder-icon::before {
  content: "\e9cf" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* SSH */
.file-icons-enabled .\.ssh-name-folder-icon::before {
  font-family: fa !important;
  content: "\f120" !important;
}

/* Stylelint */
.file-icons-enabled .stylelint\.config\.ts-name-file-icon::before {
  content: "\e93d" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* Supabase */
.file-icons-enabled .seed\.config\.ts-name-file-icon::before,
.file-icons-enabled .snaplet\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\26a1" !important;
  padding-right: 0 !important;
  margin-right: 4px !important;
  margin-left: 2px !important;
  color: #40cf8f !important;
  transform: scale(1.05) !important;
}

/* Svgo */
.file-icons-enabled .svgo\.config\.js-name-file-icon::before {
  font-family: mfixx !important;
  color: #f4bf75 !important;
  content: "\f15c" !important;
}

/* Test */
.file-icons-enabled .test-name-folder-icon::before,
.file-icons-enabled .tests-name-folder-icon::before,
.file-icons-enabled .__tests__-name-folder-icon::before {
  font-family: fi !important;
  content: "\ea63" !important;
  font-size: 121% !important;
}

/* Tmp */
.file-icons-enabled .\.tmp-name-folder-icon::before {
  font-family: fa !important;
  content: "\f253" !important;
}

/* Tsdown */
.file-icons-enabled .tsdown\.config\.js-name-file-icon::before,
.file-icons-enabled .tsdown\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\ea61" !important;
  color: #89a5e8 !important;
}

/* Tsup */
.file-icons-enabled .tsup\.config\.js-name-file-icon::before,
.file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\ea61" !important;
  color: #6c6c6c !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .tsup\.config\.js-name-file-icon::before,
  .file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
    color: #cccccc !important;
  }
}

/* Turborepo */
.file-icons-enabled .turbo\.json-name-file-icon::before,
.file-icons-enabled .\.turbo-name-folder-icon::before {
  content: "\f1ce" !important;
  font-size: 107% !important;
  font-family: fa !important;
}
.file-icons-enabled .turbo\.json-name-file-icon::before {
  color: #3f79d5 !important;
}

/* TypeScript */
.file-icons-enabled .tsconfig\.paths\.json-name-file-icon::before {
  color: #6a9fb5 !important;
  content: "\eb1b" !important;
  font-family: fi !important;
}
.file-icons-enabled .monaco-list-row[aria-label^="tsconfig\."] .file-icon::before,
.file-icons-enabled .tsconfig-name-dir-icon.json-ext-file-icon:not(.package\.json-name-file-icon)::before {
  color: #46788d !important;
  content: "\eb1b" !important;
  font-size: 121% !important;
  font-family: fi !important;
}

/* UnoCSS */
.file-icons-enabled .uno\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\e9b3" !important;
  color: #858585 !important;
}

/* Vercel */
.file-icons-enabled .\.vercel-name-folder-icon::before {
  content: "\25b2" !important;
  font-size: 107% !important;
  font-family: fi !important;
}

/* Vitest */
.file-icons-enabled .vitest\.config\.js-name-file-icon::before,
.file-icons-enabled .vitest\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\2607" !important;
  color: #7b9a36 !important;
}

/* VSCode */
.file-icons-enabled .\.vscode-name-folder-icon::before,
.file-icons-enabled .\.vscode-insiders-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e60c" !important;
}

/* Yarn */
.file-icons-enabled .\.yarnrc\.yml-name-file-icon::before {
  color: #46788d !important;
  content: "\ea1a" !important;
  font-family: fi !important;
  background-image: unset !important;
}

/* Zcompdump */
.file-icons-enabled .\.zcompdump-name-file-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
  color: #6a9fb5 !important;
}

/* Zsh */
.file-icons-enabled .\.oh-my-zsh-name-folder-icon::before,
.file-icons-enabled .\.zsh-name-folder-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
}
