/* 
  Global
 */

/* Match color of ignored files with status */
.monaco-decoration-itemColor--9ieymw::before {
  opacity: 0.5 !important;
}

/*
  Menu
 */
#be5invis\.vscode-custom-css {
  display: none !important;
}

/* 
  File Icons 
 */

/* All */
.file-icons-enabled .folder-icon::before {
  color: inherit !important;
}

/* Aliases */
.file-icons-enabled .\.aliases-name-file-icon::before {
  font-family: fi !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}

/* Atomizer */
.file-icons-enabled .atomizer\.config\.js-name-file-icon::before,
.file-icons-enabled .atomizer\.config\.mjs-name-file-icon::before,
.file-icons-enabled .atomizer\.config\.cjs-name-file-icon::before {
  font-family: devicons !important;
  content: "\e664" !important;
}

/* Azure */
.file-icons-enabled .\.azure-name-folder-icon::before,
.file-icons-enabled .\.azure-shell-name-folder-icon::before,
.file-icons-enabled .\.azurefunctions-name-folder-icon::before {
  font-family: fi !important;
  content: "\1f680" !important;
}

/* Build */
.file-icons-enabled .build-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f0c4" !important;
}

/* Bundler */
.file-icons-enabled .\.bundle-name-folder-icon::before {
  content: "\f047" !important;
  font-size: 114% !important;
  font-family: octicons !important;
}

/* Chrome */
.file-icons-enabled .\.chrome-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e643" !important;
}

/* Commitlint */
.file-icons-enabled .\.commitlintrc-name-file-icon::before {
  color: #769eb3 !important;
  content: "\1f191" !important;
  font-size: 107% !important;
  font-family: fi !important;
}
.file-icons-enabled .commitlint\.config\.mjs-name-file-icon::before,
.file-icons-enabled .commitlint\.config\.ts-name-file-icon::before {
  content: "\1f191" !important;
}

/* Config */
.file-icons-enabled .\.config-name-folder-icon::before {
  font-family: fa !important;
  content: "\f013" !important;
}

/* Craco */
.file-icons-enabled .craco\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\f02f" !important;
  color: #1f8e76 !important;
}

/* Crontab */
.file-icons-enabled .\.crontab-name-file-icon::before {
  font-family: fi !important;
  content: "\1f558" !important;
  font-size: 100% !important;
  color: unset !important;
}

/* Env */
.file-icons-enabled .\.env-name-file-icon::before,
.file-icons-enabled .file-icon[aria-label*="/.env."]::before {
  font-family: fa !important;
  content: "\f013" !important;
  color: unset !important;
}

/* ESLint */
.file-icons-enabled .eslint\.config\.cjs-name-file-icon::before,
.file-icons-enabled .eslint\.config\.js-name-file-icon::before,
.file-icons-enabled .eslint\.config\.mjs-name-file-icon::before,
.file-icons-enabled .eslint\.config\.ts-name-file-icon::before {
  content: "\ea0f" !important;
  font-size: 114% !important;
  font-family: fi !important;
}

/* Fastify */
.file-icons-enabled .\.fastify-name-folder-icon::before {
  font-family: fi !important;
  content: "\eac9" !important;
}

/* Git */
.file-icons-enabled .\.git-name-folder-icon .label-name {
  color: var(--vscode-gitDecoration-ignoredResourceForeground) !important;
}
.file-icons-enabled .\.git-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  opacity: 0.5 !important;
}
.file-icons-enabled .\.gitignore\.global-name-file-icon::before,
.file-icons-enabled .\.gitprofile-name-file-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}

/* GitHub */
.file-icons-enabled .\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}

/* GraphQL */
.file-icons-enabled .\.graphqlrc::before,
.file-icons-enabled .\.graphqlrc\.js::before,
.file-icons-enabled .\.graphqlrc\.json::before,
.file-icons-enabled .\.graphqlrc\.toml::before,
.file-icons-enabled .\.graphqlrc\.ts::before,
.file-icons-enabled .\.graphqlrc\.yml::before,
.file-icons-enabled .graphql\.config\.js-name-file-icon::before,
.file-icons-enabled .graphql\.config\.json-name-file-icon::before,
.file-icons-enabled .graphql\.config\.toml-name-file-icon::before,
.file-icons-enabled .graphql\.config\.ts-name-file-icon::before,
.file-icons-enabled .codegen\.ts-name-file-icon::before,
.file-icons-enabled .codegen\.config\.ts-name-file-icon::before,
.file-icons-enabled .gql-name-folder-icon::before {
  content: "\e97c" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* Homebrew */
.file-icons-enabled .file-icon[aria-label^="~/.Brewfile"]::before {
  font-family: fi !important;
  content: "\1f37a" !important;
  font-size: 13.8px !important;
}
.file-icons-enabled .file-icon[aria-label^="~/.Brewfile"]:not([aria-label*=".lock"])::before {
  color: #ffbd5d !important;
}
.file-icons-enabled .file-icon[aria-label^="~/.Brewfile.lock"]::before {
  color: #75b5aa !important;
}

/* Husky */
.file-icons-enabled .\.husky-name-folder-icon::before {
  font-family: fi !important;
  content: "\1f436" !important;
}
.file-icons-enabled .\.husky-name-dir-icon.name-file-icon::before {
  font-family: fi;
  color: #825078;
  content: "\f0c8";
}

/* Jest */
.file-icons-enabled .jest\.setup\.ts-name-file-icon::before {
  content: "\ea39" !important;
  font-size: 107% !important;
  font-family: fi !important;
  color: #f5c06d !important;
}

/* Mac */
.file-icons-enabled .\.macos-name-folder-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
}
.file-icons-enabled .\.macos-name-file-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
  color: #6a9fb5 !important;
}

/* MikroORM */
.file-icons-enabled .mikro-orm\.config\.js-name-file-icon::before,
.file-icons-enabled .mikro-orm\.config\.ts-name-file-icon::before {
  content: "\f10e" !important;
  font-family: mf !important;
}

/* NestJS */
.file-icons-enabled .nest-cli\.json-name-file-icon::before {
  font-family: fi !important;
  content: "\eac9" !important;
  color: #e0234f !important;
}
.file-icons-enabled .\.nest-name-folder-icon::before,
.file-icons-enabled .\.nest_repl_history-name-file-icon::before {
  font-family: fi !important;
  content: "\eac9" !important;
}

/* Netrc */
.file-icons-enabled .\.netrc-name-file-icon::before {
  font-family: mf !important;
  content: "\f160" !important;
  color: unset !important;
}

/* Next.js */
.file-icons-enabled .\.next-name-folder-icon::before {
  font-family: fi !important;
  content: "\24c3" !important;
}
.file-icons-enabled .next\.config\.ts-name-file-icon::before,
.file-icons-enabled .next-env\.d\.ts-name-file-icon::before {
  color: #7f7f7f !important;
  content: "\24c3" !important;
  font-size: 107% !important;
  font-family: fi !important;
}

/* Nodenv */
.file-icons-enabled .\.nodenv-name-folder-icon::before {
  content: "\e618" !important;
  font-size: 114% !important;
  font-family: devicons !important;
}

/* Npm */
.file-icons-enabled .\.npm-name-folder-icon::before {
  font-family: fi !important;
  content: "\e91c" !important;
}

/* Panda CSS */
.file-icons-enabled .panda-name-folder-icon::before,
.file-icons-enabled .styled-system-name-folder-icon::before,
.file-icons-enabled .panda\.config\.js-name-file-icon::before,
.file-icons-enabled .panda\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\eac1" !important;
}
.file-icons-enabled .panda\.config\.js-name-file-icon::before,
.file-icons-enabled .panda\.config\.ts-name-file-icon::before {
  color: #f4bf75 !important;
}

/* Pnpm */
.file-icons-enabled .\.pnpm-name-folder-icon::before {
  font-family: fi !important;
  content: "\eB86" !important;
}

/* PostCSS */
.file-icons-enabled .postcss\.config\.cjs-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #90a959 !important;
}
.file-icons-enabled .postcss\.config\.js-name-file-icon::before,
.file-icons-enabled .postcss\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #c82829 !important;
}

/* Prettier */
.file-icons-enabled .prettier\.config\.js-name-file-icon::before {
  color: #ed9f2e !important;
}
.file-icons-enabled .prettier\.config\.ts-name-file-icon::before {
  content: "\eaa1" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* Prisma */
.file-icons-enabled .prisma-name-folder-icon::before {
  font-family: fi !important;
  content: "\eac5" !important;
  font-size: 104% !important;
}
.file-icons-enabled .prisma-lang-file-icon::before {
  font-family: fi !important;
  content: "\eac5" !important;
  font-size: 102% !important;
  color: #03bfa5 !important;
  background: none !important;
}

/* Private */
.file-icons-enabled .\.private-name-folder-icon::before,
.file-icons-enabled .private-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f06a" !important;
}

/* Pyenv */
.file-icons-enabled .\.pyenv-name-folder-icon::before {
  content: "\f14c" !important;
  font-family: mf !important;
}

/* Rbenv */
.file-icons-enabled .\.rbenv-name-folder-icon::before {
  content: "\f047" !important;
  font-size: 114% !important;
  font-family: octicons !important;
}

/* Release-it */
.file-icons-enabled .\.release-it\.json-name-file-icon::before,
.file-icons-enabled .\.release-it\.ts-name-file-icon::before,
.file-icons-enabled .\.release-it\.js-name-file-icon::before,
.file-icons-enabled .\.release-it\.cjs-name-file-icon::before,
.file-icons-enabled .\.release-it\.yaml-name-file-icon::before,
.file-icons-enabled .\.release-it\.yml-name-file-icon::before,
.file-icons-enabled .\.release-it\.toml-name-file-icon::before,
.file-icons-enabled .release-it\.config\.ts-name-file-icon::before {
  font-size: 114% !important;
  font-family: fa !important;
  content: "\f135" !important;
}

/* Semantic Release */
.file-icons-enabled .release\.config\.js-name-file-icon::before,
.file-icons-enabled .release\.config\.cjs-name-file-icon::before,
.file-icons-enabled .release\.config\.mjs-name-file-icon::before,
.file-icons-enabled .release\.config\.ts-name-file-icon::before {
  color: #7f7f7f !important;
  content: "\1f7cd" !important;
  font-size: 114% !important;
  font-family: "fi" !important;
}

/* Shadcn */
.file-icons-enabled .components\.json-name-file-icon::before {
  font-family: fi !important;
  content: "\e9b3" !important;
  color: #52525b !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .components\.json-name-file-icon::before {
    color: #cccccc !important;
  }
}

/* Shopify */
.show-file-icons .liquid-ext-file-icon.ext-file-icon.file-icon::before {
  color: #90a959 !important;
  content: "\e9cf" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
  background-image: unset !important;
}
.file-icons-enabled .\.shopify-name-folder-icon::before {
  content: "\e9cf" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* SSH */
.file-icons-enabled .\.ssh-name-folder-icon::before {
  font-family: fa !important;
  content: "\f120" !important;
}

/* Stylelint */
.file-icons-enabled .stylelint\.config\.ts-name-file-icon::before {
  content: "\e93d" !important;
  font-size: 107% !important;
  font-family: "fi" !important;
}

/* Supabase */
.file-icons-enabled .seed\.config\.ts-name-file-icon::before,
.file-icons-enabled .snaplet\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\26a1" !important;
  padding-right: 0 !important;
  margin-right: 4px !important;
  margin-left: 2px !important;
  color: #40cf8f !important;
  transform: scale(1.05) !important;
}

/* Svgo */
.file-icons-enabled .svgo\.config\.js-name-file-icon::before {
  font-family: mfixx !important;
  color: #f4bf75 !important;
  content: "\f15c" !important;
}

/* Test */
.file-icons-enabled .test-name-folder-icon::before,
.file-icons-enabled .tests-name-folder-icon::before,
.file-icons-enabled .__tests__-name-folder-icon::before {
  font-family: fi !important;
  content: "\ea63" !important;
  font-size: 121% !important;
}

/* Tmp */
.file-icons-enabled .\.tmp-name-folder-icon::before {
  font-family: fa !important;
  content: "\f253" !important;
}

/* Tsdown */
.file-icons-enabled .tsdown\.config\.js-name-file-icon::before,
.file-icons-enabled .tsdown\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\ea61" !important;
  color: #89a5e8 !important;
}

/* Tsup */
.file-icons-enabled .tsup\.config\.js-name-file-icon::before,
.file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\ea61" !important;
  color: #6c6c6c !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .tsup\.config\.js-name-file-icon::before,
  .file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
    color: #cccccc !important;
  }
}

/* TypeScript */
.file-icons-enabled .tsconfig\.paths\.json-name-file-icon::before {
  color: #6a9fb5 !important;
  content: "\eb1b" !important;
  font-family: fi !important;
}
.file-icons-enabled .monaco-list-row[aria-label^="tsconfig\."] .file-icon::before,
.file-icons-enabled .tsconfig-name-dir-icon.json-ext-file-icon:not(.package\.json-name-file-icon)::before {
  color: #46788d !important;
  content: "\eb1b" !important;
  font-size: 121% !important;
  font-family: fi !important;
}

/* UnoCSS */
.file-icons-enabled .uno\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\e9b3" !important;
  color: #858585 !important;
}

/* Vercel */
.file-icons-enabled .\.vercel-name-folder-icon::before,
.file-icons-enabled .turbo\.json-name-file-icon::before,
.file-icons-enabled .\.turbo-name-folder-icon::before {
  content: "\25B2" !important;
  font-size: 107% !important;
  font-family: fi !important;
}

/* Vitest */
.file-icons-enabled .vitest\.config\.js-name-file-icon::before,
.file-icons-enabled .vitest\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\2607" !important;
  color: #7b9a36 !important;
}

/* VSCode */
.file-icons-enabled .\.vscode-name-folder-icon::before,
.file-icons-enabled .\.vscode-insiders-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e60c" !important;
}

/* Yarn */
.file-icons-enabled .\.yarnrc\.yml-name-file-icon::before {
  color: #46788d !important;
  content: "\ea1a" !important;
  font-family: fi !important;
  background-image: unset !important;
}

/* Zcompdump */
.file-icons-enabled .\.zcompdump-name-file-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
  color: #6a9fb5 !important;
}

/* Zsh */
.file-icons-enabled .\.oh-my-zsh-name-folder-icon::before,
.file-icons-enabled .\.zsh-name-folder-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
}
