/*==== Editor ====*/

/* Reduce opacity of active indentation */
.indent-active {
  opacity: 0.2 !important;
}

/*==== File icons ====*/

/*== Global ==*/

/* Adapt the icon color of ignored files/folders to the git status */
.monaco-decoration-itemColor--9ieymw::before {
  opacity: 0.5 !important;
}

/*== Directories ==*/

/* .chrome */
.file-icons-enabled .\.chrome-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e643" !important;
}
/* .config */
.file-icons-enabled .\.config-name-folder-icon::before {
  font-family: fontawesome !important;
  content: "\f013" !important;
}
/* .git */
.file-icons-enabled .\.git-name-folder-icon .label-name {
  color: var(--vscode-gitDecoration-ignoredResourceForeground) !important;
}
.file-icons-enabled .\.git-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
  opacity: 0.5 !important;
}
/* .github */
.file-icons-enabled .\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}
/* .macos */
.file-icons-enabled .\.macos-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\e925" !important;
}
/* .private */
.file-icons-enabled .\.private-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f06a" !important;
}
/* .ssh */
.file-icons-enabled .\.ssh-name-folder-icon::before {
  font-family: fontawesome !important;
  content: "\f120" !important;
}
/* .vscode .vscode-insiders */
.file-icons-enabled .\.vscode-name-folder-icon::before,
.file-icons-enabled .\.vscode-insiders-name-folder-icon::before {
  font-family: devopicons !important;
  content: "\e60c" !important;
}
/* .yarn */
.file-icons-enabled .\.yarn-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\ea1a" !important;
}
/* .zsh */
.file-icons-enabled .\.zsh-name-folder-icon::before {
  font-family: file-icons !important;
  content: "\f0c8" !important;
}

/*== Files ==*/

/* .aliases */
.file-icons-enabled .\.aliases-name-file-icon::before {
  font-family: file-icons !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}
/* .Brewfile .Brewfile.lock.json */
.file-icons-enabled .\.brewfile-name-file-icon::before,
.file-icons-enabled .\.brewfile\.lock\.json-name-file-icon::before {
  font-family: file-icons !important;
  content: "\1f37a" !important;
  font-size: 13.8px !important;
}
.file-icons-enabled .\.brewfile-name-file-icon::before {
  color: #ffbd5d !important;
}
/* .CFUserTextEncoding .crontab .env .env.example .hushlogin */
.file-icons-enabled .\.cfusertextencoding-name-file-icon::before,
.file-icons-enabled .\.env-name-file-icon::before,
.file-icons-enabled .\.env\.example-name-file-icon::before,
.file-icons-enabled .\.hushlogin-name-file-icon::before {
  font-family: fontawesome !important;
  content: "\f013" !important;
}
/* .code-snippets */
.file-icons-enabled .code-snippets-ext-file-icon::before {
  font-family: file-icons !important;
  content: "\eb22" !important;
  color: #007acc !important;
}
/* .crontab */
.file-icons-enabled .\.crontab-name-file-icon::before {
  font-family: file-icons !important;
  content: "\1f558" !important;
}
/* .gitignore.global .gitprofile */
.file-icons-enabled .\.gitignore\.global-name-file-icon::before,
.file-icons-enabled .\.gitprofile-name-file-icon::before {
  font-family: devopicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}
/* .macos */
.file-icons-enabled .\.macos-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e925" !important;
  color: #6a9fb5 !important;
}
/* .shellcheckrc */
.file-icons-enabled .\.shellcheckrc-name-file-icon::before {
  font-family: file-icons !important;
  content: "\f0c8" !important;
  color: #aaaaff !important;
}
/* .yarnrc.yml */
.file-icons-enabled .\.yarnrc\.yml-name-file-icon::before {
  color: #46788d !important;
  content: "\ea1a" !important;
  font-family: file-icons !important;
  background-image: unset !important;
}
/* craco.config.ts */
.file-icons-enabled .craco\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\f02f" !important;
  color: #1f8e76 !important;
}
/* postcss.config.cjs postcss.config.js */
.file-icons-enabled .postcss\.config\.cjs-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e910" !important;
  color: #90a959 !important;
}
.file-icons-enabled .postcss\.config\.js-name-file-icon::before,
.file-icons-enabled .postcss\.config\.ts-name-file-icon::before {
  font-family: file-icons !important;
  content: "\e910" !important;
  color: #c82829 !important;
}
/* tsconfig.*.json */
.file-icons-enabled .tsconfig\.paths\.json-name-file-icon::before {
  color: #6a9fb5 !important;
  content: "\eb1b" !important;
  font-family: file-icons !important;
}
