/*==== Editor ====*/

/* Reduce opacity of active indentation */
.indent-active {
  opacity: 0.2 !important;
}

/*==== Icons ====*/

/* Match color of ignored files/folders to git status */
.monaco-decoration-itemColor--9ieymw::before {
  opacity: 0.5 !important;
}

/* Directories */

/* All directories */
.file-icons-enabled .folder-icon::before {
  color: inherit !important;
}
/* .chrome */
.file-icons-enabled .\.chrome-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e643" !important;
}
/* .config */
.file-icons-enabled .\.config-name-folder-icon::before {
  font-family: fa !important;
  content: "\f013" !important;
}
/* .git */
.file-icons-enabled .\.git-name-folder-icon .label-name {
  color: var(--vscode-gitDecoration-ignoredResourceForeground) !important;
}
.file-icons-enabled .\.git-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  opacity: 0.5 !important;
}
/* .github */
.file-icons-enabled .\.github-name-folder-icon::before {
  font-family: octicons !important;
  content: "\e602" !important;
}
/* .husky */
.file-icons-enabled .\.husky-name-folder-icon::before {
  font-family: fi !important;
  content: "\1f436" !important;
}
/* .macos */
.file-icons-enabled .\.macos-name-folder-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
}
/* .next */
.file-icons-enabled .\.next-name-folder-icon::before {
  font-family: fi !important;
  content: "\24c3" !important;
}
/* .npm */
.file-icons-enabled .\.npm-name-folder-icon::before {
  font-family: fi !important;
  content: "\e91c" !important;
}
/* .pnpm */
.file-icons-enabled .\.pnpm-name-folder-icon::before {
  font-family: fi !important;
  content: "\eB86" !important;
}
/* .ssh */
.file-icons-enabled .\.ssh-name-folder-icon::before {
  font-family: fa !important;
  content: "\f120" !important;
}
/* .vscode .vscode-insiders */
.file-icons-enabled .\.vscode-name-folder-icon::before,
.file-icons-enabled .\.vscode-insiders-name-folder-icon::before {
  font-family: devicons !important;
  content: "\e60c" !important;
}
/* .zsh */
.file-icons-enabled .\.zsh-name-folder-icon::before {
  font-family: fi !important;
  content: "\f0c8" !important;
}
/* build */
.file-icons-enabled .build-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f0c4" !important;
}
/* private .private */
.file-icons-enabled .\.private-name-folder-icon::before,
.file-icons-enabled .private-name-folder-icon::before {
  font-family: octicons !important;
  content: "\f06a" !important;
}

/* Files */

/* .aliases .globals */
.file-icons-enabled .\.aliases-name-file-icon::before,
.file-icons-enabled .\.globals-name-file-icon::before {
  font-family: fi !important;
  color: #825078 !important;
  content: "\f0c8" !important;
}
/* .Brewfile .Brewfile.lock.json */
.file-icons-enabled .\.brewfile-name-file-icon::before,
.file-icons-enabled .\.brewfile\.lock\.json-name-file-icon::before {
  font-family: fi !important;
  content: "\1f37a" !important;
  font-size: 13.8px !important;
}
.file-icons-enabled .\.brewfile-name-file-icon::before {
  color: #ffbd5d !important;
}
/* .CFUserTextEncoding .crontab */
.file-icons-enabled .\.cfusertextencoding-name-file-icon::before {
  font-family: fa !important;
  content: "\f013" !important;
}
/* .code-snippets */
.file-icons-enabled .code-snippets-ext-file-icon::before {
  font-family: fi !important;
  content: "\eb22" !important;
  color: #007acc !important;
}
/* .crontab */
.file-icons-enabled .\.crontab-name-file-icon::before {
  font-family: fi !important;
  content: "\1f558" !important;
  font-size: 100% !important;
  color: unset !important;
}
/* .env .env.example .env.sample */
.file-icons-enabled .\.env-name-file-icon::before,
.file-icons-enabled .\.env\.example-name-file-icon::before,
.file-icons-enabled .\.env\.sample-name-file-icon::before {
  font-family: fa !important;
  content: "\f013" !important;
  color: unset !important;
}
/* .gitignore.global .gitprofile */
.file-icons-enabled .\.gitignore\.global-name-file-icon::before,
.file-icons-enabled .\.gitprofile-name-file-icon::before {
  font-family: devicons !important;
  content: "\e602" !important;
  color: #ac4142 !important;
}
/* .husky/* */
.file-icons-enabled .\.husky-name-dir-icon.name-file-icon::before {
  font-family: fi;
  color: #825078;
  content: "\f0c8";
}
/* .macos */
.file-icons-enabled .\.macos-name-file-icon::before {
  font-family: fi !important;
  content: "\e925" !important;
  color: #6a9fb5 !important;
}
/* .netrc */
.file-icons-enabled .\.netrc-name-file-icon::before {
  font-family: mf !important;
  content: "\f160" !important;
  color: unset !important;
}
/* .yarnrc.yml */
.file-icons-enabled .\.yarnrc\.yml-name-file-icon::before {
  color: #46788d !important;
  content: "\ea1a" !important;
  font-family: fi !important;
  background-image: unset !important;
}
/* commitlint.config.ts */
.file-icons-enabled .commitlint\.config\.ts-name-file-icon::before {
  content: "\1f191" !important;
}
/* craco.config.ts */
.file-icons-enabled .craco\.config\.ts-name-file-icon::before {
  font-family: octicons !important;
  content: "\f02f" !important;
  color: #1f8e76 !important;
}
/* postcss.config.cjs postcss.config.js */
.file-icons-enabled .postcss\.config\.cjs-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #90a959 !important;
}
.file-icons-enabled .postcss\.config\.js-name-file-icon::before,
.file-icons-enabled .postcss\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\e910" !important;
  color: #c82829 !important;
}
/* svgo.config.js */
.file-icons-enabled .svgo\.config\.js-name-file-icon::before {
  font-family: mfixx !important;
  color: #f4bf75 !important;
  content: "\f15c" !important;
}
/* tsconfig.*.json */
.file-icons-enabled .tsconfig\.paths\.json-name-file-icon::before {
  color: #6a9fb5 !important;
  content: "\eb1b" !important;
  font-family: fi !important;
}
/* tsup.config.js tsup.config.ts */
.file-icons-enabled .tsup\.config\.js-name-file-icon::before,
.file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\ea61" !important;
  color: #6c6c6c !important;
}
@media (prefers-color-scheme: dark) {
  .file-icons-enabled .tsup\.config\.js-name-file-icon::before,
  .file-icons-enabled .tsup\.config\.ts-name-file-icon::before {
    color: #cccccc !important;
  }
}
/* vitest.config.js vitest.config.ts */
.file-icons-enabled .vitest\.config\.js-name-file-icon::before,
.file-icons-enabled .vitest\.config\.ts-name-file-icon::before {
  font-family: fi !important;
  content: "\2607" !important;
  color: #7b9a36 !important;
}
